<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ygo.server.api.service.dao.LeagueDAO">

    <select id="selectLeagueByName" resultType="league">
        SELECT
            seq
        FROM league
        WHERE name = #{name}
    </select>

    <insert id="insertLeague" parameterType="league">
        INSERT INTO league
        ( user_id, name )
        VALUE
        ( #{userId}, #{name} )
        <selectKey resultType="long" order="AFTER" keyProperty="seq">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

</mapper>
