<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ygo.server.api.service.dao.LogDAO">

    <insert id="insertLogList" parameterType="map">
        INSERT INTO log
        (league_seq, fighter_seq, deck_seq, opponent_fighter_seq, opponent_deck_seq, round, result)
        values
        <foreach item="item" collection="logList" separator=",">
            ( #{item.leagueSeq}, #{item.fighterSeq}, #{item.deckSeq}, #{item.opponentFighterSeq}, #{item.opponentDeckSeq}, #{item.round}, #{item.result} )
        </foreach>
    </insert>

</mapper>
