<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ygo.server.api.service.dao.UserDAO">

    <select id="selectUserByID" resultType="user" parameterType="user">
        SELECT
            id as userId,
            password as userPw,
            name as userNm,
            created
        FROM user
        WHERE id = #{userId}
    </select>

    <select id="selectUserByIDAndPassword" resultType="user" parameterType="user">
        SELECT
            u.id as userId,
            u.password as userPw,
            u.name as userNm,
            c.code_desc as userAuth
        FROM user u, user_auth a, common_code c
        WHERE u.id = a.id
        AND a.auth = c.code
        AND u.id = #{userId}
        AND u.password = #{userPw}
    </select>

    <insert id="insertUser" parameterType="user">
        INSERT INTO user
        ( id, password, name )
        VALUES
        ( #{userId}, #{userPw}, #{userNm} )
    </insert>

</mapper>
